.container-fluid {
    background-color: #fdfcf9;
    color: #444444;
    font-family: sans-serif;
}
header .row{
    padding-top: 35px;
    padding-bottom: 35px;

}
.message {
    padding-top: 15px;
}
.logo {
    width: 286px;
    height: 60px;
    margin: auto;
}
.navbar li {
    list-style-type: none;
    font-size: 12px;
    text-align:right;
}
.navbar li:hover{
    color: red;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }