.container-fluid {
    background-color: #fdfcf9;
    color: #444444;
    font-family: sans-serif;
}
header .row {
    padding-top: 35px;
    padding-right: 1%;
    padding-left: 1%;
}
.message {
    padding-top: 15px;
}
.logo {
    width: 286px;
    height: 60px;
    margin: auto;
}
.navbar li {
    list-style-type: none;
    font-size: 12px;
    text-align: right;
    padding-bottom: 6px;
}
.navbar li:hover {
    color: red;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 97%;
    margin: auto;
}
footer {
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.info {
    width: 97%;
    margin: auto;
}
@media (max-width:768px) {
    .message div {
        display: none;
    }
    .navbar li {
        float:left;        
        width:33.3%;
    }
    li:first-child {
        text-align: left;
    }
    li:nth-child(2) {
        text-align :center;
    }
    .navbar ul {
/*
*/        width: 100%;
        padding: 0;
    }
    .info {
        text-align: center;
        color:white;
        font-size:65%;
    }
    .navbar {
   min-height: 1px; 
   margin-bottom: 0; 
}
    footer .container-fluid {
        background-color: transparent;
    }
}
