#logo {
    margin: 110px 50px;
}
#logo img {
    height: 37px;
}
.nav a {
    font-size: 11px;
    color: black;
    margin-bottom: 10px;
}
ul.dropdown-menu {
    border: 0px;
    box-shadow: 0 0;
}
.picture p {
    color: gray;
    font-size: 10px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 35px;
}
.container {
    max-width: 800px;
}

.hiddenmenu {
    font-size: 10px;
    margin-top: 200px;
    color: gray;
}
.hiddenmenu a{
    color: gray;
}

#titleabout {
    font-weight: bold;
    margin-bottom: 50px;
}
#titleabout a:hover{
text-decoration: none;
}
.hiddemenu a{
    color: gray;
}
#hiddentext{
    margin-bottom: 60px;
}
#hiddentext a {
    color: gray;
}
#hiddentext h5, #addres, #phone, #workingtime, #textstudio, #textteam, #features{
    margin-bottom: 20px;
}
#slika{
width: 120%;
}
#footer {
    height: 140px;
    background-color: silver;
}
#footer {
    font-size: 11px;
    margin-top: 20px;
}
#newsletter {
    color: gray;
    margin-top: 25px;
    margin-bottom: 60px;
}
#text-positioning{
    margin-left: 80px;
}