/*reset*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*end off reset*/

@font-face {
    font-family: OpenSans-regular;
    src: url(fonts/OpenSans-Regular.ttf);
}

body {
    font-family: OpenSans-regular;
    font-size: 19px;
    color: #33E836;
}

header {
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: white;
}

.section {
    text-align: center;
    padding: 80px 0;
    text-transform: capitalize;
}

.section2 {
    padding: 0;
}

.section p:nth-of-type(2) {
    font-weight: bolder;
    padding: 15px 0;
}

.title {
    margin-bottom: 70px;
}

h1 {
    font-size: 80px;
    font-weight: bolder;
    padding-bottom: 15px;
}

h3 {
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 15px;
    text-align: left;
}

.row {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.col-lg-4 {
    width: 33%;
}

.md {
    display: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container div {
    display: flex;
    align-items: center;
    height: 45px;
    font-size: 18px;
    color: #33E836;
    padding: 0 10px;
    border: 3px solid #33E836;
    justify-content: center;
}

.container2 a {
    width: 100%;
}

.navigationBar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #33E836;
    opacity: 0.9;
    height: 65px;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
}

.navigationBar li {
    list-style-type: none;
    display: inline;
}

.menu {
    display: flex;
}

.navFirst li::after {
    content: "|";
    padding: 0 20px;
}

.navFirst {
    margin-right: 30px;
}

.navSecond li {
    background-color: #83F085;
    padding: 8px 10px;
    margin-left: 8px;
}

.navSecond img {
    height: 17px;
}

.logo {
    width: 40%;
    position: absolute;
    bottom: 30%;
    margin: auto;
    left: 0;
    right: 0;
}

header .logo img {
    max-height: 290px;
}

.notification {
    background-image: url(img/office.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.text {
    color: white;
    padding: 200px 25px;
    font-weight: bolder;
    font-size: 50px;
}

.formular {
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 10vw;
}

input {
    display: block;
    height: 45px;
    width: 100%;
    font-size: 18px;
    color: #33E836;
    padding-left: 10px;
    border: 3px solid #33E836;
    box-sizing: border-box;
}

input:nth-child(-n+3) {
    border-bottom: none;
}

.container a:nth-child(-n+4) div {
    border-bottom: none;
}

.cont a:nth-child(-n+6) div {
    border-bottom: none;
}

.cont a:first-child div, .cont a:nth-child(4) div, .cont a:nth-child(7) div {
    border-right: none;
}

.cont a:nth-child(4) div, .cont a:nth-child(5) div {
    border-top: none;
}

.cont a:nth-child(3) div {
    border-bottom: 3px solid #33E836;
}

button {
    margin-top: 80px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    height: 45px;
    width: 100%;
    font-size: 18px;
    color: #33E836;
    border: 3px solid #33E836;
    background: white;
    background-image: url(img/arow.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: right;
}

.formular .col {
    width: 330px;
}

footer {
    margin-top: 140px;
    background-color: #33E836;
    color: white;
}

.footerImg {
    width: 100%;
}

.footerLogo {
    width: 290px;
    padding-bottom: 40px;
    margin: auto;
}

footer .row {
    flex-wrap: nowrap;
}


.contact .col {
    display: flex;
    align-items: center;
    border: 3px solid white;
    background-image: url(img/arrow2.png );
    background-repeat: no-repeat;
    background-position: right;
    text-align: left;
    padding: 10px 15px;
    margin: 2vw 3vw;
}

.copyright {
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 16px;
}

@media (max-width: 1240px) {
    .formular {
        padding: 0 1vw;
    }
}

@media (max-width: 1200px) {
    .navFirst li::after {
        padding: 0 5px;
    }
}

@media (max-width: 1020px) {
    .col-md-6 {
        width: 50%;
    }
    .md {
        display: inline-block;
        background-color: #33E836;
    }
    .formular .col-xs-12 {
        width: 100%;
        margin: 60px 3vw;
        margin-top: 0;

    }
   
    .formular button {
        margin-top: 20px;
    }
    footer .row {
        flex-wrap: wrap;
    }
    .contact .col-md-12 {
        width: 100%;
        margin: 1vw 3vw;
    }
}

@media (max-width: 800px) {
    .navFirst li::after {
        padding: 0 4px;
    }
    .navSecond li {
        margin-left: 2px;
    }
}

@media (max-width: 640px) {
    .navigationBar {
        display: none;
    }
    .col-sm-12 {
        width: 100%;
    }
}