header {
    background-image: url(img/cedric-bg.jpg);
    background-size: cover;
}

div.affix {
    top:0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);;
    padding: 30px 0 20px;
    z-index: 10;
}


nav {
    text-align: center
}

nav ul li  {
    display:inline;
    border:2px solid orange;
    padding: 10px 30px;
    margin:0px 10px;
}

nav ul li a {
    display:inline;
    color:orange;
}

div.jumbotron{
    background-color: transparent;
    color: white;
    margin-bottom: 0px;
}


div.divider{
    width:100px;
    height:2px;
    background-color:grey;
    margin: auto;
    margin-bottom: 20px;
}

.text-gray {
    color: gray;
}

#work {
    padding-top:130px;
    background-color: rgb(230,230,250);
}

.video {
    padding: 25px;
}

.video img {
    margin-bottom: 15px;
}

.video p {
    color: black;
    font-size: 85%;
    margin:0;
}

.video .title {
    text-transform: uppercase;
}

.video .description {
    font-style: italic;
}


#about {
    background-color: black;
    color:white;
}

#about h2 {
    margin: 100px auto 30px;
    text-transform: uppercase;
    font-size: 180%;
    font-weight: bold;
}


#about p {
    color:gray;
    font-size: 118%;
    font-family: helvetica;
}

#about .row {
    margin-top: 60px;
    margin-bottom: 30px;
}