
.header {

    background-color: #384047
}
.back {
    background-color: black;
    color: #70787e;
    font-weight: bolder;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.logo {
    width: 300px;
}
.search{
    margin-top: 20px;
    position: relative;
    left: 15px;
}
.search input {
    width: 300px;
    height: 35px;
    border-radius: 17px;
    padding: 0 20px;
    background-color: black;
    border: none;
    color: gray;
}
.search input:focus {
    outline: none;
    background-color: white;
}
.search span {
    position: relative;
    right: 40px;
    color: white;
}
.search:focus {
    outline: none;
}
.navbar{
    width: 700px;
    margin-bottom: 0px;
}
.btn.startLearning{
    width: 150px;
    height: 55px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px; 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;

}
.navigation{
    margin-top: 15px;
    border-bottom: inset red;
}
