@font-face {
    font-family:moraDaSeKupi;
    src: url(FONTS/FDI-Graublau-Sans-Italic-webfont.woff);
   
}


body{
    font-family: moraDaSeKupi;
}

.navbar{
    background-color: transparent;
}

.first-bar {
    position: absolute;
     width: 100%; 
     margin-top: 25px;
     z-index: 1040;
}

.first-bar li{
    display: inline;
    padding-right: 20px;
  
}
.first-bar li:last-child{
    padding: 0;
}
.first-bar a{
      color: white;
      font-size: 13px;
}

.first-bar ul {
    margin-bottom: 0;
}

.first-bar form{
    display: inline;
    position: relative;
   
}
.first-bar span{
position: absolute;
right: 0px;

}
.search-space{
    border: none;
    border-bottom: solid 1px white;
    background-color: transparent;
   text-transform: uppercase;
   width: 80px;


}
.submit-btn{
    position: absolute;
   right: 0px;
   top: 0;
   z-index: 10;
   background-color: transparent;
   color: transparent;
   border: none;

   
}
.navbar-nav>li>a {
     color: white; 
    font-size: 15px;
    font-weight: bolder;
    padding: 0px 20px; 
}
.nav>li>a:hover{
    color: rgb(0,180,0);
    background:black;
}
.dropdown-menu{
     background-color: black;
}
.navbar-nav .dropdown-menu li{
    border: none;
}


li:hover .dropdown-menu{
    display: block;
   
}

.dropdown-menu>li>a{
    color: white;
    text-transform: capitalize;

}
.dropdown-menu>li>a:hover {
    background-color: black;
    color: rgb(0,180,0);
}
.affix img{
    height: 40px;
}
.affix .nav{
    margin-top: 20px;
}

.space{
    height: 900px;
}
.navbar-nav li{

     border-right: solid rgb(0,180,0) 2px;
}
.navbar-nav li:last-child {
    border: none;
}
nav.navbar:before {
    display: none;
}
.nav{
    margin-top: 60px;
}
.main{
    background-image: url(img/header-slide-img.jpg);
    height: 750px;
}

