body {
    background-color: #f7f7f7;
    color: #f55930;
}
text {
    display: none;
}
svg:hover text {
    display: inherit;
}
svg:hover g {
    display: none;
}
svg {
    fill: #f55930;
    stroke: #f55930;
}
.logo {
    margin-top: 30px;
}
.logo svg {
    width: 250px;
}
header svg {
    width: 120px;
}
.navbar {
    border: 0px;
    background: transparent;
    margin-top: 25px;
    padding-left: 10px;
}
.navbar-default .navbar-nav>li>a {
    color: red;
}
.navbar a {
    font-size: 16px;
    font-weight: bold;
    margin-right: 15px;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #f55930;
}
.navbar li {
    margin-right: 15px;
}
header {
    background-color: #f3d527;
    padding-top: 80px;
    padding-bottom: 80px;
    color: #f55930;
}
header h1 {
    font-size: 50px;
    padding-top: 0px;
    padding-bottom: 10px;
    line-height: 70px;
}
header .btn-readmore {
    background-color: transparent;
    padding: 15px 40px;
    border-radius: 1px;
    border: solid #f55930 3px;
    color: #f55930;
    font-weight: bold;
    margin-top: 30px;
}
.main h4 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.box-description {
    color: #f55930;
    margin-top: 15px;
    margin-bottom: 30px;
}
div.img {
    padding: 30px;
}
a:hover {
    text-decoration: none;
}
.row>div {
    margin-bottom: 20px;
}
@media(min-width:768px) {
    .box-description {
        display: none;
      
    }
    .main a:hover .box-description {
        display: block;
        position: absolute;
        left: 20px;
        top: 0;
        bottom: -15px;
        right: 20px;        
        text-align: center;
        padding-top: 30%;
        font-size: 1.3em;
        color: white;
        background-color: #f55930;
    }
}